body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  margin-top: 20px;
}

/* लोगो इमेज वाला कंटेनर ताकि सेंट्रल रिजाइन हो */
#logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

/* लोगो इमेज */
#logoImage {
  width: 100px; /* छोटा साइज */
  height: 100px;
  border-radius: 50%; /* गोल शेप */
  border: 3px solid #00ff00; /* ग्रीन खुबसूरत फ्रेम */
  box-shadow: 0 0 15px 5px #00ff00; /* हरे रंग का गाऊलिंग इफेक्ट */
  cursor: pointer;
  transition: transform 0.3s;
  object-fit: cover;
  margin-bottom: 10px;
}

#logoImage:hover {
  transform: scale(1.1);
}

#logo {
  font-size: 45px;
  font-weight: 900;
  color: #0f0;
  text-shadow: 0 0 15px #0f0, 0 0 30px #00ff80;
  cursor: pointer;
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

nav button {
  margin: 10px;
  padding: 10px 20px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

nav button:hover {
  background: #00ff80;
}

main {
  margin-top: 50px;
  width: 90%;
  max-width: 500px;
}

.page {
  display: none;
  text-align: center;
}

.page.active {
  display: block;
}

input[type="file"], input[type="number"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  background: #111;
  border: 1px solid #0f0;
  color: #0f0;
  border-radius: 5px;
  width: 80%;
}

button[type="submit"] {
  background: #0f0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #00ff80;
}

.warning-text {
  background-color: #f00; /* Red background (warning) */
  color: #000;
  padding: 8px 15px;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 15px;
  text-align: center;
  box-shadow: 0 0 10px #fbf176;
  user-select: none;

  white-space: normal;      /* टेक्स्ट लाइन ब्रेक हो सके */
  overflow: visible;        /* कटे नहीं */
  text-overflow: clip;      /* ellipsis ना लगे */
  max-width: 400px;         /* चौड़ाई बढ़ा दी */
  display: inline-block;    /* टेक्स्ट को ब्लॉक/इनलाइन में उचित ढंग से दिखाने के लिए */
}

#footerName {
  color: #ff0;
  text-shadow: 0 0 10px lime, 0 0 20px green;
  cursor: pointer;
}
